/*
    Authors : Thibault Cheneviere, Thom Guillot
    Mail : thibault.cheneviere@telecomnancy.eu
    Date : 28/09/2021
*/
/* Start CSS for home.html */

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}


.home-banner h2 {
    color: #fff;
    text-align: center;
    font-size: 7rem;
}

.border * {
    margin: 2%;
}

#card {
    width: 100%;
    height: auto;
}

/* End CSS for home.html */