/*
    Authors : Thibault Cheneviere, Thom Guillot
    Mail : thibault.cheneviere@telecomnancy.eu, thom.guillot@telecomnancy.eu
    Date : 7/12/2021
*/

/* Start CSS for home.html */

/* beacons */

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* classes (.) */

.description {
    margin: 1%;
    text-align: justify;
}

.buttons {
    text-align: center;
    margin: 1%;
}

.excard {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: auto;
}

.edges {
    margin-bottom: 2%;
}

.card-img-top {
    width: 80%;
    height: auto;
}

.progress {
    margin-bottom: 2%;
}

.card-text {
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

/* ids (#) */

#entete {
    text-align: justify;
    margin: 1%;
}

#help {
    display: block;
}

#cand {
    min-height: 47.2vh;
    display: none;
}

#cardtop {
    margin-top: 2%;
    margin-right: 3%;
}

/* others */

.home-banner h2 {
    color: #fff;
    text-align: center;
    font-size: 7rem;
}

.border * {
    margin: 1%;
}

/* End CSS for home.html */