body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    margin-left: 10vw;
    width: 80vw;
    height: 70vh;
}

#instructions {
    position: absolute;
    float: left;
    margin-left: 10vw;
    width: 25vw;
    height: 70vh;
    background-color: rgb(250,240,240);
    overflow-y: scroll;
    font-family: sans-serif;
}

#start {
    display: none;
}

.border * {
    margin: 1%;
}

#transport {
    margin: 1%;
}