.card-header{
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.titre{
    font-size: 1cm;
}

.citation{
    font-size: 0.8cm;
}

.membres{
    flex:1;
    align-self: center;
    text-align: center;
}

.cadrePhoto{
    margin-top:10px;
    margin-bottom: 10px;
}

.photo{
    border-radius: 1%;
}

.PhotoETmembres{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.TitreMembres{
    font-size: 0.75cm;
}

.statsETprog{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.cadreProg{
    flex: 1;
    align-self: flex-start;
    margin-left: 20px;
}

.stats{
    width: 400px;
}

.titreStats{
    text-align: center;
    margin-top: 5px;
}

.texteProg{
    text-align: justify;
    line-height: 40px;
    text-indent: 60px;
    vertical-align: top;
}

.progress{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leprog{
    margin:10px
}
