/*
    Authors : Thibault Cheneviere, Elion Hashani, Thom Guillot
    Mail : thibault.cheneviere@telecomnancy.eu, elion.hashani@telecomnancy.eu, thom.guillot@telecomnancy.eu
    Date : 5/01/2022
*/
/* Start CSS for referenceProgram.html */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card {
    border: none;
    padding: 20px;
    background-color: rgb(255, 220, 220);
    height: 37rem;
    margin: 0.5%;
    border-radius: 1.5% / 17%;
}

.card-1 {
    border: none;
    padding: 20px;
    background-color: rgb(255, 220, 220);
    min-height: 25rem;
    overflow: hidden;
    margin: 0.5%;
    border-radius: 1.5% / 17%;
}

.form-input {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

textarea {
    position: relative;
    margin-bottom: 20px;
}

.form-control {
    height: 100%;
    background-color: rgb(255, 240, 240);
    text-indent: 24px;
    font-size: 15px;
}

.form-control:focus {
    background-color: rgb(255, 245, 245);
    box-shadow: none;
    border-color: #e74f4f
}

.form-group {
    height: 100%;
}

.form-group-12 {
    min-height: 50%;
    overflow: hidden;
    margin-bottom: 2%;
}

.btn-delete {
    background-color: red;
    border: none;
}

.btn-delete:hover {
    background-color: rgb(200, 0, 0);
}

.home-banner h2 {
    color: #fff;
    text-align: center;
    font-size: 7rem;
}

.border * {
    margin: 1%;
}

.border {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* End CSS for referenceProgram.html */
