<!--
    Authors : Thibault Cheneviere, Thom Guillot
    Mail : thibault.cheneviere@telecomnancy.eu
    Date : 28/09/2021
-->

{% extends 'layout.html' %}

{% block header %}
    <title>Page d'accueil</title>
{% endblock header %}

{% block container %}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/home.css') }}">

    <div class='home-banner bg-danger bg-gradient'>
        <h2>Bienvenue</h2>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="p-2 bd-highlight col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="border border-start-0 border-2 border-danger">
                <h3 class="text-center">Comment ça marche ?</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae iure neque eaque autem perspiciatis magnam atque nobis vero numquam, assumenda, aliquam, deserunt ipsa quia debitis necessitatibus molestias. Eveniet, nisi tempore?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eveniet sapiente doloribus quia animi. Illum, sint, facere odio, modi in vel totam voluptates commodi praesentium ratione explicabo provident placeat consequuntur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quis temporibus provident officiis perferendis magnam qui quaerat vero, repellat molestias dicta non. Ducimus, dignissimos delectus! Quae necessitatibus perferendis reprehenderit facere.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui vitae quas eius exercitationem quo iure quaerat aliquam harum perferendis vel possimus officia fuga quia eum dolorum, minus magnam distinctio! Fugit.
                </p>
            </div>
        </div>
        <div class="p-2 bd-highlight text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img src="static/images/test.png" id="card">
        </div>
        <div class="p-2 bd-highlight col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="border border-end-0 border-2 border-danger">
                <h3 class="text-center">Comment ça marche ?</h3>
                <p class="text-end">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae iure neque eaque autem perspiciatis magnam atque nobis vero numquam, assumenda, aliquam, deserunt ipsa quia debitis necessitatibus molestias. Eveniet, nisi tempore?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam perferendis eius deserunt dolor corrupti placeat at, pariatur dignissimos praesentium omnis enim quidem nobis voluptas autem cumque consequatur, facilis, quisquam earum?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio exercitationem perspiciatis vitae eaque tempora corrupti. Incidunt delectus temporibus numquam, culpa maiores ratione explicabo laboriosam odit ut dicta, dolore atque perferendis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vel quas quam blanditiis! Ipsa magnam voluptatibus perferendis nobis iure, commodi tempora suscipit necessitatibus recusandae mollitia nemo neque accusamus libero omnis?
                </p>
            </div>
        </div>
    </div>
{% endblock container %}