<!--
    Authors : Thibault Cheneviere, Thom Guillot
    Mail : thibault.cheneviere@telecomnancy.eu, thom.guillot@telecomnancy.eu
    Date : 7/12/2021
-->

{% extends 'layout.html' %}

{% block header %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/home.css') }}">

    <!-- Page title -->
    <title>Page d'accueil</title>
{% endblock header %}

{% block container %}
    <div class='home-banner bg-danger bg-gradient'>
        <h2>Bienvenue</h2>
    </div>
    <div>
        <h1 class="text-center">Hémicycle</h1>
    </div>
    <div class="buttons">
        <button type="button" id="helpbut" class="btn btn-outline-danger btn-lg" disabled aria-disabled="true">Comment ça marche ?</button>
        <button type="button" id="candbut" class="btn btn-outline-danger btn-lg" aria-disabled="true">Liste des candidats</button>
    </div>
    <div id="help">
        <div class="border border-4 border-danger">
            <h2 class="text-center">Comment ça marche ?</h2>
        </div>
        <div class="d-flex align-items-stretch">
            <div class="p-2 bd-highlight col-8">
                <div>
                    <p>
                        <div class="description">
                            <p>
                                Avant de naviguer sur le site, il est important de comprendre le fonctionnement de celui-ci.
                                Les candidats des élections procédent à leur inscription sur le site par le biais d'un modérateur.
                                Les informations renseignées sont ensuite affichées sous forme de <strong>cartes</strong> dont vous pouvez voir un exemple
                                en côté de page. Chaque carte correspond donc à un candidat et sa liste électorale. 
                            </p>
                            <p>
                                Les parties suivantes vous permettront d'avoir une compréhension plus étendue sur l'intérêt des cartes.
                            </p>
                        </div>
                        <h3>Les Cartes</h3>
                        <div class="description">
                            <p>
                                Les cartes sont organisées de la façon suivante :
                                <ul>
                                    <li>Description générale du candidat</li>
                                    <li>Statistiques du candidat</li>
                                    <li>Sommaire du programme du candidat</li>
                                </ul>
                            </p>
                            <p>
                                La description générale du candidat rapporte son identité, son parti politique, les membres importants de sa liste électorale
                                et une citation personnelle courte.
                                Les statistiques du candidat montrent le pourcentage d'intérêt porté au thème en question. Trois thèmes sont représentés : 
                                l'écologie, l'économie et le social.
                                Le sommaire du programme du candidat est un court aperçu des grandes lignes du programme du candidat afin de faciliter votre
                                triage des candidats.
                                Toutes ces informations vous permettront de naviguer rapidement et efficacement sur le site.
                            </p>
                        </div>
                        <h3>Les Statistiques</h3>
                        <div class="description">
                            Description
                        </div>
                        <h3>Évaluer les candidats</h3>
                        <div class="description">
                            Description
                        </div>
                    </p>
                </div>
            </div>
            <div class="p-2 bd-highlight col-4">
                <img src="static/images/test.png" id="card">
            </div>
        </div>
    </div>
    <div id="cand">
        <div class="border border-4 border-danger">
            <h2 class="text-center">Liste des candidats</h2>
        </div>
        <div class="d-flex align-items-stretch">

        </div>
    </div>
    <script src="static/js/home.js"></script>
{% endblock container %}