<!--
    Authors : Thibault Cheneviere, Thom Guillot
    Mail : thibault.cheneviere@telecomnancy.eu, thom.guillot@telecomnancy.eu
    Date : 5/01/2022
-->

{% extends 'layout.html' %}

{% block header %}
    <title>Pour aller voter</title>


    <!-- Mapbox Script dependancies -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

    <!-- CSS dependancies -->
    <link rel="stylesheet" href="/static/css/map.css">
{% endblock header %}

{% block container %}
  <div class="mapp">
    <div id="start" style="display: none;">{{ data['start']['lon'] }}, {{ data['start']['lat'] }}</div>
    <div id="end" style="display: none;">{{ data['end']['lon'] }}, {{ data['end']['lat'] }}</div>
    <div id="travelType" style="display: none;">{{ travelType }}</div>
    <div id="emoji" style="display: none;">{{ emoji }}</div>

    <div>
        <div class="border border-4 border-danger">
            <h2 class="text-center">Chemin vers le bureau de vote le plus proche de chez vous</h2>
        </div>
        <div class="text-center" id="transport">
            {% if travelType == 'walking' %}
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <a href="/map/cycling" class="btn btn-outline-danger btn-lg">Vélo</a>
                
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <a href="/map/driving" class="btn btn-outline-danger btn-lg">Voiture</a>
                
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
                    <a href="/map/walking" class="btn btn-outline-danger btn-lg">Marche</a>
                </div>
            {% elif travelType == 'cycling' %}
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <a href="/map/cycling" class="btn btn-outline-danger btn-lg">Vélo</a>
                
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <a href="/map/driving" class="btn btn-outline-danger btn-lg">Voiture</a>
                
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <a href="/map/walking" class="btn btn-outline-danger btn-lg">Marche</a>
                </div>
            {% else %}
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <a href="/map/cycling" class="btn btn-outline-danger btn-lg">Vélo</a>
                
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                    <a href="/map/driving" class="btn btn-outline-danger btn-lg">Voiture</a>
                
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <a href="/map/walking" class="btn btn-outline-danger btn-lg">Marche</a>
                </div>
            {% endif %}
        </div>
        <div class="custom-card">    
            <div id='map'></div>
            <div id="instructions"></div>
        </div>
    </div>
  </div>
    <div class="adresse">
      <form action="/map/{{ travelType }}" method="POST">
        <div class="card-1">
          <div class="form-input">
            <i class="fa fa-map-marked"></i> 
            <input type="text" class="form-control" placeholder="Adresse complete" name="adress" id="adressInput" required>
          </div>
          <div class="form-input">
              <i class="fa fa-map-marked"></i>
              <input type="number" class="form-control" placeholder="Code postal" name="postalCode" id="postalCodeInput" required>
          </div>
          <button class="btn btn-danger mt-4 signup">Valider</button>
        </div>
      </form>
    </div>

    <!-- Script dependancies -->
    <script src="/static/js/map.js"></script>

    <footer class="footer-custom fixed-bottom text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3 navbar-custom">
          © 2021 Copyright:
          <a class="text-white" href="https://telecomnancy.univ-lorraine.fr">TELECOM Nancy</a>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock container %}