<!--
    Author : Thibault Cheneviere
    Mail : thibault.cheneviere@telecomnancy.eu
    Date : 17/12/2021
-->

{% extends 'layout.html' %}

{% block header %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/profile.css') }}">
    
    <!-- Page title -->
    <title>Profil de {{ data['firstName'] + " " + data['lastName'] }}</title>
{% endblock header %}

{% block container %}
    <form action="{{ url_for('loginBP.profile', firstName=data['firstName'], lastName=data['lastName'], id=data['id']) }}" method="POST" enctype="multipart/form-data">
        <div class="card">
            <div class="profile-container">
                {% if data['picture'] != 'None' %}
                    <img class="picture" src="/static/images/candidatePictures/{{ data['picture'] }}" alt="Your profile picture">
                {% else %}
                    <img class="picture" src="/static/images/defaultProfilePicture.png">
                {% endif %}
                <div class="title-container">
                    <div class="title">
                        Profil de {{ data['firstName'] + ' ' + data['lastName']}}
                    </div>
                    <div class="catchphrase">
                        <label class="catchphrase" for="catchphraseID">Catchphrase : </label>
                        {% if data['catchphrase'] != None %}
                            <input class="form-input" name="catchphrase" id="catchphraseID" type="text" value="{{ data['catchphrase'] }}">
                        {% else %}
                            <input class="form-input" name="catchphrase" id="catchphraseID" type="text" placeholder="catchphrase">
                        {% endif %}
                    </div>
                    <div class="input-picture">
                        <label class="picInput" for="picInputId">Photo de Profil : </label>
                        <input class="form-input" name="picture" type="file" accept="image/*" placeholder="Choisissez votre photo de profile">
                    </div>
                    <div class="submit-button">
                        <button class="btn btn-primary bg-danger">Enregister les modifications</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <footer class="footer-custom fixed-bottom text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3 navbar-custom">
          © 2021 Copyright:
          <a class="text-white" href="https://telecomnancy.univ-lorraine.fr">TELECOM Nancy</a>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock container %}