<!--
    Author : Thibault Cheneviere
    Mail : thibault.cheneviere@telecomnancy.eu
    Date : 29/11/2021
-->

{% extends 'layout.html' %}

{% block header %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/programsList.css') }}">

    <!-- Page title -->
    <title>Liste des programmes</title>
{% endblock header %}

{% block container %}
    <div class="wrapper">
        {% for programs in programsData %}
            <div class="program">
                <h2><a class ='lienPg' href="{{ '/program/' + programs[1] + '/' + programs[2] + '/' + programs[0] }}">{{ programs[1] + " " + programs[2] }}</a></h2>
                <div class="program-content">
                    <p>{{ programs[3] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock container %}