<!--
    Author : Antoine Yebouet
    Mail : antoine.yebouet@telecomnancy.eu
    Date : 06/12/2021
-->

{% extends 'layout.html'%}

{% block header %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/program.css') }}">
    
    <!-- Page title -->

    <title>{{ data['firstName'] }} {{ data['lastName'] }} - Programme</title>
{% endblock header %}

{% block container %}

    <div class="leprog">
        <div class="card-header">
            <h5 class="titre">{{ data['firstName'] }} {{ data['lastName'] }}</h5>
            <i class="citation">{{ data['catchphrase'] }}</i>
        </div>
        <div class="PhotoETmembres"> 
            <div class="cadrePhoto">
                {% if data['picture'] != 'None' %}
                    <img src="/static/images/candidatePictures/{{ data['picture'] }}" class="photo">
                {% else %}
                    <img src="/static/images/defaultProfilePicture.png" class="photo">
                {% endif %}
            </div>
            <div class="membres">
                <h5 class="TitreMembres">Membres de la liste</h5><br>
                {% if data['membres'] %}
                    <div class="listeM">
                        {% for membre in data['membres'] %}
                            <div class="membre">
                                {{membre[0]}} {{membre[1]}}<br>{{membre[2]}}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
            <div class="statsETprog">
                <div class="stats">
                <h5 class="titreStats">Statistiques</h5>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ data['grades'][0] }}%;" aria-valuenow="{{ data['grades'][0] }}" aria-valuemin="0" aria-valuemax="100">Env : {{ data['grades'][0] }}%</div>
                </div>  
                
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ data['grades'][1]}}%;" aria-valuenow="{{ data['grades'][1] }}" aria-valuemin="0" aria-valuemax="100">Soc : {{ data['grades'][1] }}%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ data['grades'][2] }}%;" aria-valuenow="{{ data['grades'][2] }}" aria-valuemin="0" aria-valuemax="100">Éco : {{ data['grades'][2] }}%</div>
                </div>
            </div>
            <div class="cadreProg">
                <p class="texteProg">
                    {{ data['program'] }}
                </p>
            </div>
        </div>
    </div>

    {% if data['program'] != "" %}
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            {% if voteData['economy'] == '1' or voteData['economy'] == '-1' %}
                <a href="#" class="btn btn-outline-danger disabled">-1</a>
                <a href="#" class="btn btn-danger disabled">Economy</a>
                <a href="#" class="btn btn-outline-danger disabled">+1</a>
            {% else %}
                <a href="/vote/economy/-/{{ data['listId'] }}/program--{{ data['firstName'] }}--{{ data['lastName'] }}--{{ data['id'] }}" class="btn btn-outline-danger">-1</a>
                <a href="#" class="btn btn-danger btn-center disabled">Economy</a>
                <a href="/vote/economy/+/{{ data['listId'] }}/program--{{ data['firstName'] }}--{{ data['lastName'] }}--{{ data['id'] }}" class="btn btn-outline-danger">+1</a>
            {% endif %}
        </div>
        <div class="btn-group">
            {% if voteData['ecology'] == '1' or voteData['ecology'] == '-1' %}
                <a href="#" class="btn btn-outline-success disabled">-1</a>
                <a href="#" class="btn btn-success disabled">Ecology</a>
                <a href="#" class="btn btn-outline-success disabled">+1</a>
            {% else %}
                <a href="/vote/ecology/-/{{ data['listId'] }}/program--{{ data['firstName'] }}--{{ data['lastName'] }}--{{ data['id'] }}" class="btn btn-outline-success">-1</a>
                <a href="#" class="btn btn-success btn-center disabled">Ecology</a>
                <a href="/vote/ecology/+/{{ data['listId'] }}/program--{{ data['firstName'] }}--{{ data['lastName'] }}--{{ data['id'] }}" class="btn btn-outline-success">+1</a>
            {% endif %}
        </div>
        <div class="btn-group">
            {% if voteData['social'] == '1' or voteData['social'] == '-1' %}
                <a href="#" class="btn btn-outline-primary disabled">-1</a>
                <a href="#" class="btn btn-primary disabled">Social</a>
                <a href="#" class="btn btn-outline-primary disabled">+1</a>
            {% else %}
                <a href="/vote/social/-/{{ data['listId'] }}/program--{{ data['firstName'] }}--{{ data['lastName'] }}--{{ data['id'] }}" class="btn btn-outline-primary">-1</a>
                <a href="#" class="btn btn-primary btn-center disabled">Social</a>
                <a href="/vote/social/+/{{ data['listId'] }}/program--{{ data['firstName'] }}--{{ data['lastName'] }}--{{ data['id'] }}" class="btn btn-outline-primary">+1</a>
            {% endif %}
        </div>
    {% endif %}
    <footer class="footer-custom text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1 rounded-circle border-0"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3 navbar-custom">
          © 2021 Copyright:
          <a class="text-white" href="https://telecomnancy.univ-lorraine.fr">TELECOM Nancy</a>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock container %}