<!--
    Author : Thibault Cheneviere
    Mail : thibault.cheneviere@telecomnancy.eu
    Date : 27/11/2021
-->

{% extends 'layout.html' %}

{% block header %}
    <title>Referencer son programme</title>
{% endblock header %}

{% block container %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/referenceProgram.css') }}">
    
    <div class='home-banner'>
        <h2>Bienvenue {{ userData['name'] }}</h2>
    </div>
    <form action="{{ url_for('programBP.define_program') }}" name="surveyInput" method="POST">
        {% if userData['program'] == "" %}
            <div class="card px-5 py-5">
                <div class="form-group">
                    <textarea class="form-control" name="programmArea" id="programmArea" rows="5" placeholder="Entrer votre programme ici." required></textarea>
                </div>
                <button class="btn btn-primary mt-4">Publier</button>
            </div>
        {% else %}
            <div class="card px-5 py-5">
                <div class="form-group">
                    <textarea class="form-control" name="programmArea" id="programmArea" rows="5" required>{{ userData['program'] }}</textarea>
                </div>
                <button class="btn btn-primary mt-4">Publier</button>
            </div>
        {% endif %}
    </form>
    <div class='home-banner'>
        <h3>Liste des membres</h3>
    </div>
    <form action="{{ url_for('programBP.define_program') }}" name="memberInput" method="POST">
        <div class="card-1 px-5 py-1">
            <div class="form-group-12">
                <h4>Ajouter les membres de votre liste</h4>
                <input autocomplete="off" autofocus name="memberArea" id="memberArea" placeholder="Nom" type="text">
                <input autocomplete="off" autofocus name="memberArea" id="memberArea" placeholder="Prénom" type="text">
                <select name="memberArea">
                    <option disabled selected value="">Catégorie socio-professionelle</option>
                    <option value="Agriculteur exploitant">Agriculteur exploitant</option>
                    <option value="Artisan, Commerçant, Chef d'entreprise">Artisan, Commerçant, Chef d'entreprise</option>
                    <option value="Cadre, Profession intellectuelle supérieure">Cadre, Profession intellectuelle supérieure</option>
                    <option value="Profession intermédiaire">Profession intermédiaire</option>
                    <option value="Employé">Employé</option>
                    <option value="Ouvrier">Ouvrier</option>
                    <option value="Retraité">Retraité</option>
                    <option value="Sans activité professionnelle">Sans activité professionnelle</option>
                </select>
                <button class="btn btn-primary mt-4">Publier</button>
            </div>
        </div>
    </form>
{% endblock container %}